@import url("bouncing-arrow.css");

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

:root {
	--primary-color: #fff;
	--invert-color: #4a4a4a;
	--bg-color: #ffffff;
	--gradient: to right, #000000, #100e15;
}

html,
body {
	height: 100%;
	background-color: var(--bg-color);
	font-family: "Raleway", sans-serif;
	padding: 0;
	margin: 0;
	color: var(--primary-color);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	padding: 1px 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

button:focus {
	outline: none;
	background-color: transparent;
}

.modal {
	color: var(--invert-color);
}

.container {
	padding-top: 4%;
}

.custom-container {
	width: 90%;
	margin: 0 auto;
	padding-top: 2%;
}

section h2 {
	font-weight: bold;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-r-30 {
	margin-right: 30px;
}

.m-t-30 {
	margin-top: 30px;
}

.h2 {
	margin: 0;
}

.capitalize {
	text-transform: uppercase;
}

.about-text {
	font-size: 2em;
}

::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}

/*------------------ Loader Style ----------------*/

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: -webkit-linear-gradient(var(--gradient));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(var(--gradient));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

.pulsate {
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.5;
}

@keyframes pulsate {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

/*-------------- Main Section -------------*/

.main-section {
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-section {
	background: var(--bg-color);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(var(--gradient));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(var(--gradient));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 2;
}

.main-section::after {
	content: "";
	background: var(--bg-color);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(var(--gradient));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(var(--gradient));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 200px;
	transform: skewY(-5deg);
	position: absolute;
	bottom: -100px;
	z-index: -1;
}

.about-section {
	margin-top: 150px;
	color: var(--invert-color);
}

.image-section {
	margin-bottom: 200px;
	color: var(--invert-color);
}

.invert-color {
	color: var(--invert-color);
}

.arrows1 {
	position: absolute;
	bottom: 1vw;
}

.box {
	width: 500px;
	height: 500px;
	border: 5px solid rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name-title {
	font-family: "Fredericka the Great", sans-serif;
	font-size: 9em;
}

.name-subtitle {
	background-color: var(--primary-color);
	color: var(--invert-color);
	padding: 5px 10px;
	font-size: 1.5em;
}

/*----------------- Quote ------------------*/
.division {
	display: flex;
}

.left-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	flex-direction: column;
}

.right-area {
	flex: 1;
}

.me {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*--------------- Experience Section --------------*/

.experience-section {
	background: linear-gradient(var(--gradient));
	width: 100%;
	position: relative;
}

.experience-section::before {
	content: "";
	background: linear-gradient(var(--gradient));
	width: 100%;
	height: 200px;
	transform: skewY(-5deg);
	position: absolute;
	top: -100px;
	left: 0;
	z-index: -1;
}

.experience-section::after {
	content: "";
	background: var(--bg-color);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(var(--gradient));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(var(--gradient));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 200px;
	transform: skewY(-5deg);
	position: absolute;
	bottom: -100px;
	z-index: -1;
}

.custom-btn {
	border: none;
	border-radius: 4px;
	color: #fff;
	box-shadow: 0 0 30px rgba(99, 86, 229, 0.6);
	background-color: #353fdf;
	font-weight: 400;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	outline: none;
}

.custom-btn1 {
	color: #353fdf;
	/*box-shadow: 0 0 40px rgba(99,86,229,0.6);*/
	border: 2px solid #353fdf;
	border-radius: 5px;
	background-color: transparent;
	font-weight: 900;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	outline: none;
}

.custom-btn4,
.custom-btn5 {
	padding: 20px 40px;
	background: none;
	border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
}

.custom-btn4:after,
.custom-btn4:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid #000;
	transition: transform 0.2s;
}

.custom-btn5:after,
.custom-btn5:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid #fff;
	transition: transform 0.2s;
}

.custom-btn4:after,
.custom-btn5:after {
	transform: translate(3px, -3px);
}

.custom-btn4:before,
.custom-btn5:before {
	transform: translate(-3px, 3px);
}

.custom-btn4:hover:after,
.custom-btn4:hover:before,
.custom-btn5:hover:after,
.custom-btn5:hover:before {
	transform: translate(0);
}

.custom-btn2 {
	margin-top: 2%;
	padding: 10px 15px;
}

.custom-btn3 {
	padding: 5px 15px;
}

.tech-stack {
	font-size: 18px;
}

/* ---------------- Skills Section ------------ */

.skills-section {
	margin-top: 200px;
}

.skills-section .skill {
	height: 50px;
}

.skills-section .img-container {
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.skills-section .info {
	align-items: center;
	font-size: 24px;
	color: var(--invert-color);
	margin: 0 auto;
	width: 90%;
	padding-bottom: 30px;
}

.skills-section .info .text {
	display: inline;
}

.skill-icon {
	width: 30px;
	height: 30px;
}

.h6 {
	font-size: 20px;
	color: var(--invert-color);
}

.fcol {
	display: flex;
	flex-direction: column;
}

.frow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* ---------------- button-group Start ------------ */

.button-group {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.button-group .custom-btn {
	margin-top: 10px;
}

.button-group .custom-btn:not(:last-child) {
	margin-right: 10px;
}

.button-group .is-checked {
	background-color: crimson;
	color: white;
}

/* ----------------- .element-item --------------- */

.grid-item {
	padding: 0;
	margin: 0;
}

.element-item {
	cursor: pointer;
	height: 120px;
	margin: 10px 0;
	position: relative;
	/* margin: 10px !important; */
	padding: 10px;
	background-color: #1f1f22;
	color: white;
	/* background-color: white;
	color: var(--invert-color); */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	position: relative;
}

.element-item .name {
	font-size: 18px;
	font-weight: 600;
}

.element-item .symbol {
	font-size: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.element-item .number {
	font-size: 12px;
	margin-top: 5px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: end;
}

.element-item button {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.element-item>* {
	margin: 0;
}

h3 {
	font-size: 1.2em;
}

.screenshots {
	display: flex;
	overflow-x: auto;
}

.thumbnail {
	width: auto;
	height: 150px;
}

.screenshots a:not(:last-child) {
	margin-right: 10px;
}

/*----------------- Footer ------------------*/

footer {
	padding: 50px;
	/* height: 5em; */
	/* background-color: #2A363B;
	background-image: url('../images/pattern.svg'); */
	display: flex;
	color: var(--primary-color);
	background: var(--bg-color);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(var(--gradient));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(var(--gradient));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, */
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.social-icons {
	display: flex;
	padding-top: 30px;
}

.email {
	border-bottom: 1px solid var(--primary-color);
}

.icon-small {
	width: 25px;
	height: 25px;
	fill: var(--primary-color);
	cursor: pointer;
}

/*--------------------- Media Queries -----------------*/

/* Desktop */
@media screen and (min-device-width: 1200px) {}

/* Mobiles */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.name-title {
		font-size: 4rem;
	}

	.box {
		width: auto;
		height: auto;
		border: none;
	}

	.division {
		display: flex;
		flex-direction: column-reverse;
	}

	.left-area,
	.right-area {
		width: 100%;
	}

	.left-area {
		padding: 30px 5px 0 5px;
	}

	.footer-info {
		text-align: center;
	}

	.element-item {
		width: 100% !important;
		margin: 10px 0 !important;
	}

	.image-section {
		margin-bottom: 150px;
	}

	h2 {
		margin-top: 0;
		font-size: 40px;
	}

	.h6 {
		font-size: 22px;
	}

	.container {
		padding-top: 50px;
	}
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
	.name-title {
		font-size: 3em;
	}

	.name-subtitle {
		font-size: 1.3em;
	}
}
